<style>
	#log_view {
		margin-top : 20px;
		color : rgb(0,255,0);
		background-color : black;
		font-family : "MyricaM M","ＭＳ　ゴシック";
	}
</style>
<div class="container main-content">
	<div class="row">
		<div class="col-md-12" id="log_view">
			<%= @return_val %>
		</div>
	</div>
</div>
