<style>
	.jumbotron {
		background-color : #559795;
		color : white;
	}
	.message_space {
		height : 15px;
	}
	.message_space_half {
		height : 7px;
	}
	.row {
		background-color : #fff;
	}
</style>
<div class="jumbotron">
	<div class="container">
		<h1>Sudoku Solver for Web</h1>
		<p>数独を高速に解いてやりましょう！</p>
	</div>
</div>
<div class="container main-content">
	<div class="row" style="padding-left : 5px;padding-right : 5px;">
		<div class="col-md-12" style="padding-bottom:10px;">
			<h2 class="page-header" style="margin-top:20px;">数独はニガテですか？</h2>
			<p>Sudoku Solver for Webは、数独をすぐに解きたい方のための、数独解答ツールです。</p>
			<p>新しいSudoku Solverをベースにすることにより、より高速に解けるようになりました。</p>
			<div class="message_space"></div>
			<a href="#" class="btn btn-success">使ってみる</a>
		</div>
	</div>
	<div class="row" style="padding-left : 5px;padding-right : 5px;margin-top:20px">
		<div class="col-md-12">
			<center><h2><span class="glyphicon glyphicon-pushpin"></span></h2></center>
			<div class="row">
				<div class="col-md-4">
					<h3>&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;より楽に</h3>
					<p>複雑な専用形式でのボード入力・難解なターミナル操作は必要なくなりました。</p>
					<p>余計なことを覚える必要はありません。</p>
					<div class="message_space"></div>
				</div>
				<div class="col-md-4">
					<h3>&nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;よりわかりやすく</h3>
					<p>最初から数字があった場所が太字になることで、どこをプログラムが置いたかわかりやすくなりました。</p>
					<p>書き写すときのわずらわしさを感じません。</p>
					<div class="message_space"></div>
				</div>
				<div class="col-md-4">
					<h3>&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;より高速に</h3>
					<p>Sudoku Solverの、Ver 1.X.X系をベースにすることで、Ver 0.X.X系よりも、約30倍<span class="text-muted">(※1)</span>高速になりました。</p>
					<p>もうあなたを待たせることはありません。</p>
					<div class="message_space"></div>
				</div>
			</div>
			<div class="message_space_half"></div>
			<p class="text-muted">※1 問題によって差があります。</p>
		</div>
	</div>
</div>

